{% extends 'base.html' %}
	
{% block title %} Dashboard {% endblock title %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <div class="graph-container">
        <img src="data:image/png;base64,{{ monthly_incident_data }}" alt="Generated Image">
        <img src="data:image/png;base64,{{ department_incident_data }}" alt="Generated Image">
        <img src="data:image/png;base64,{{ vehicle_data }}" alt="Generated Image" class="vehicle">        
        <img src="data:image/png;base64,{{ incident_data }}" alt="Generated Image">
    </div>

{% endblock content %}
