{% extends 'base.html' %}

{% block title %} Live Feed {% endblock title %}

{% block content %}

{% load static %} 

    <link rel="stylesheet" href="{% static 'css/live-feed.css' %}">
    {% comment %} <a href="{% url 'recording_archive' %}">Archive </a> {% endcomment %}
    <a href="{% url 'recording_archive' %}" class="archive-btn">
        <span class="fas fa-archive"></span>Archive</a>

    {% comment %} <a href="{% url 'face_logs' %}">Logs </a> {% endcomment %}
    <a href="{% url 'face_logs' %}" class="archive-btn">
        <span class="fas fa-user"></span>Face Logs</a>


        {% if camera_ids %}
            <div class="grid">
                {% for camera_id in camera_ids %}
                    <div class="camera-card">
                        <h3>Camera {{ camera_id }}</h3>
                        <div class="camera-wrapper">
                            <img class="camera-frame" src="{% url 'video_feed' camera_id %}" alt="Camera {{ camera_id }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-cameras">No cameras are currently available. Please check back later.</p>
        {% endif %}
    </div>
{% endblock content %}
