{% extends 'base.html' %}

{% block title %} Recording Archive {% endblock title %}

{% block content %}

{% load static %} 

    <link rel="stylesheet" href="{% static 'css/recording_archive.css' %}">

    <div class="content-container">

        <h2>Available Recordings</h2>
        
        <div class="table-container">
            {% for cam_id, years in categorized_recordings.items %}
                <h3>Camera {{ cam_id }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Day</th>
                            <th>Recordings</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for year, months in years.items %}
                            {% for month, days in months.items %}
                                {% for day, files in days.items %}
                                    <tr>
                                        <td>{{ year }}</td>
                                        <td>{{ month }}</td>
                                        <td>{{ day }}</td>
                                        <td>
                                            <ul>
                                                {% for file in files %}
                                                    <li>
                                                        <a href="javascript:void(0);" onclick="showPreview('{{ file }}')">
                                                            {{ file }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
            <a href="{% url 'reset_recordings' %}" class="reset-btn">Reset</a>
        </div>
    </div>
    
    <!-- Fixed Preview Sidebar -->
    <div id="previewSidebar">
        <h3>Video Preview</h3>
        <video id="videoPreview" controls muted>
            <source id="videoSource" src="" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% comment %} <button id="closePreviewBtn" onclick="closePreview()">Close Preview</button> {% endcomment %}
    </div>


    <script>
        function showPreview(fileName) {
            var videoSource = document.getElementById('videoSource');
            var videoPreview = document.getElementById('videoPreview');
            videoSource.src = "/recordings/" + fileName;
            videoPreview.load();
        }
    
        function closePreview() {
            document.getElementById('videoSource').src = "";
        }
    </script>


{% endblock content %}
