{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="about-container">
    <h2 class="subheading">Our Mission</h2>
    <p class="content">Advance an inclusive, equitable, and globally relevant polytechnic education towards national development.</p>

    <h2 class="subheading">Our Vision</h2>
    <p class="content">A Leading Comprehensive Polytechnic University In Asia.</p>

    <h2 class="subheading">Our Team</h2>
    <p class="content">Our dedicated team is passionate about delivering quality education and empowering students to excel in their chosen fields.</p>

    <h2 class="subheading">Get in Touch</h2>
    <p class="content">We would love to hear from you! Whether you have questions, feedback, or would like to get involved, feel free to reach out:</p>
    <ul class="contact-list">
        <li><strong>Email:</strong> calauan@pup.edu.ph</li>
        <li><strong>Phone:</strong> (+63 49) 566-0623</li>
        <li><strong>Address:</strong>
            <ul>
                <li>PUP Calauan, Laguna Campus</li>
                <li>Barangay Kanluran, Calauan</li>
                <li>Laguna, Philippines</li>
            </ul>
        </li>
        <li><strong>Social Media:</strong></li>
    </ul>

    <p class="content">Thank you for being part of our journey!</p>
</div>
{% endblock content %}
