{% extends 'base.html' %}

{% block title %} Register Vehicle {% endblock title %} 

{% block content %} 

{% load static %} 

    <link rel="stylesheet" href="{% static 'css/details.css' %}">


    <div class="container">

      <div class="header">
        <h2>Registered Vehicles</h2>
        <a href="#" id="print-link" class="inline-block px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
          Print
        </a>

      </div>

      <form method="POST" action="">
        {% csrf_token %}
        <div class="details">
          <p><strong>First Name:</strong> {{ vehicle.first_name }}</p>
          <p><strong>Middle Name:</strong> {{ vehicle.middle_name }}</p>
          <p><strong>Last Name:</strong> {{ vehicle.last_name }}</p>
          <p><strong>ID Number:</strong> {{ vehicle.id_number }}</p>
          <p><strong>Contact Number:</strong> {{ vehicle.contact_number }}</p>
          <p><strong>Email Address:</strong> {{ vehicle.email_address }}</p>
          <p><strong>Role:</strong> {{ vehicle.role }}</p>
          <p><strong>Vehicle Type:</strong> {{ vehicle.vehicle_type }}</p>
          <p><strong>Color:</strong> {{ vehicle.color }}</p>
          <p><strong>Model:</strong> {{ vehicle.model }}</p>
          <p><strong>Plate Number:</strong> {{ vehicle.plate_number }}</p>
          <p><strong>Sticker Number:</strong> {{ vehicle.sticker_number }}</p>
          <p><strong>Guardian Name:</strong> {{ vehicle.guardian_name }}</p>
          <p><strong>Guardian Number:</strong> {{ vehicle.guardian_number }}</p>
          <p><strong>Driver's License:</strong> {{ vehicle.drivers_license }}</p>

         

          <select name="status">
            <option value="allowed" {% if vehicle.status == 'allowed' %}selected{% endif %}>allowed</option>
            <option value="restricted" {% if vehicle.status == 'restricted' %}selected{% endif %}>restricted</option>
          </select>

          {% if user_role != 'student' %}
          {% endif %}

          <button type="submit" style="margin-top: 20px;">Submit</button>
        </div>
      </form>
    </div>

  <script type="text/javascript">
    function toggleEditFields(button) {
      const row = button.closest('tr'); // Get the closest row of the clicked button
      const inputs = row.querySelectorAll('.form-input'); // Select all input fields in the row
      inputs.forEach(input => {
        input.disabled = !input.disabled;
        input.style.cursor = input.disabled ? "not-allowed" : "auto";
      });
    }

    function confirmDelete() {
      return confirm('Do you really want to delete this user?');
    }


  </script> 

  <script>
  document.getElementById('print-link').href = window.location.href + 'print';
</script>

{% endblock content %}