<aside class="sidebar">
  <ul class="nav-links">
    <li>
      <a href="{% url 'incidents' %}">
        <span class="icon"></span>
        <span class="text">Incident</span>
      </a>
    </li>
    <li>
      <a href="{% url 'vehicles' %}">
        <span class="icon"></span>
        <span class="text">Register Vehicle</span>
      </a>
    </li>
    <li>
      <a href="{% url 'about' %}">
        <span class="icon"></span>
        <span class="text">About</span>
      </a>
    </li>
  </ul>
</aside>
