{% extends 'base.html' %}

{% block title %} Incident {% endblock title %}

{% block content %}

{% load static %} 

    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    <div class="create-search">
        <a href="{% url 'incident_forms' %}" class="create-new-btn">File New Incident</a>

        <div class="search-container">
            <input type="text" id="tableSearch" placeholder="Search..." onkeyup="filterTable()">
            <span class="search-icon">&#128269;</span> <!-- Unicode for a magnifying glass -->
        </div>
    </div>

    <!-- Incident Reports Table -->
    <div class="table-container">
        <table class="form-table">
            <thead>
                <tr>
                    <th colspan="10">Open Cases</th>
                </tr>
                <tr>
                    <th>Date Time</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Subject</th>
                    <th>Location</th>
                    <th>Reported By</th>
                    <th>Department</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for data in open_incident %}
                <tr>
                    <td>{{ data.date_joined }}</td>
                    <td>{{ data.first_name }}</td>
                    <td>{{ data.last_name }}</td>
                    <td>{{ data.subject }}</td>
                    <td>{{ data.location }}</td>
                    <td>{{ data.reported_by }}</td>
                    <td>{{ data.department }}</td>
                    <td>{{ data.phone_number }}</td>
                    <td>{{ data.status }}</td>
                    <td><a href="{% url 'incident_details' data.id %}" style="text-decoration: underline;">Details</a></td>
                    </a></td>
                </tr>
                {% empty %} 
                <tr>
                    <td colspan="10" style="text-align: center;">No Cases Found</td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination"> 
        <div>
            <span>Page {{ users.number }} of {{ users.paginator.num_pages }}</span> 
        </div>
        <div>
            {% if users.has_previous %} 
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ users.previous_page_number }}">Previous</a> 
        {% endif %} 
        {% if users.has_next %} 
            <a href="?page={{ users.next_page_number }}">Next</a>
            <a href="?page={{ users.paginator.num_pages }}">Last &raquo;</a> 
        {% endif %}
        </div>
    </div>

    <div class="create-search">
        <a></a>
        <div class="search-container">
            <input type="text" id="tableSearch" placeholder="Search..." onkeyup="filterTable()">
            <span class="search-icon">&#128269;</span> <!-- Unicode for a magnifying glass -->
        </div>
    </div>

    <div class="table-container">
        <table class="form-table">
            <thead>
                <tr>
                    <th colspan="10">Pending Cases</th>
                </tr>
                <tr>
                    <th>Date Time</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Subject</th>
                    <th>Location</th>
                    <th>Reported By</th>
                    <th>Department</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                    <th>Details</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for data in pending_incident %}
                <tr>
                    <td>{{ data.date_joined }}</td>
                    <td>{{ data.first_name }}</td>
                    <td>{{ data.last_name }}</td>
                    <td>{{ data.subject }}</td>
                    <td>{{ data.location }}</td>
                    <td>{{ data.reported_by }}</td>
                    <td>{{ data.department }}</td>
                    <td>{{ data.phone_number }}</td>
                    <td>{{ data.status }}</td>
                    <td><a href="{% url 'incident_details' data.id %}" style="text-decoration: underline;">Details</a></td>

                </tr>
                {% empty %} 
                <tr>
                    <td colspan="10" style="text-align: center;">No Cases Found</td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination"> 
        <div>
            <span>Page {{ users.number }} of {{ users.paginator.num_pages }}</span> 
        </div>
        <div>
            {% if users.has_previous %} 
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ users.previous_page_number }}">Previous</a> 
        {% endif %} 
        {% if users.has_next %} 
            <a href="?page={{ users.next_page_number }}">Next</a>
            <a href="?page={{ users.paginator.num_pages }}">Last &raquo;</a> 
        {% endif %}
        </div>
    </div>

    <div class="create-search">
        <a></a>
        <div class="search-container">
            <input type="text" id="tableSearch" placeholder="Search..." onkeyup="filterTable()">
            <span class="search-icon">&#128269;</span> <!-- Unicode for a magnifying glass -->
        </div>
    </div>

    <div class="table-container">
        <table class="form-table">
            <thead>
                <tr>
                    <th colspan="10">Closed Cases</th>
                </tr>
                <tr>
                    <th>Date Time</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Subject</th>
                    <th>Location</th>
                    <th>Reported By</th>
                    <th>Department</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                    <th>Details</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for data in closed_incident %}
                <tr>
                    <td>{{ data.date_joined }}</td>
                    <td>{{ data.first_name }}</td>
                    <td>{{ data.last_name }}</td>
                    <td>{{ data.subject }}</td>
                    <td>{{ data.location }}</td>
                    <td>{{ data.reported_by }}</td>
                    <td>{{ data.department }}</td>
                    <td>{{ data.phone_number }}</td>
                    <td>{{ data.status }}</td>
                    <td><a href="{% url 'incident_details' data.id %}" style="text-decoration: underline;">Details</a></td>

                </tr>
                {% empty %} 
                <tr>
                    <td colspan="10" style="text-align: center;">No Cases Found</td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>        
    </div>

    <!-- Pagination Controls -->
    <div class="pagination"> 
        <div>
            <span>Page {{ users.number }} of {{ users.paginator.num_pages }}</span> 
        </div>
        <div>
            {% if users.has_previous %} 
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ users.previous_page_number }}">Previous</a> 
        {% endif %} 
        {% if users.has_next %} 
            <a href="?page={{ users.next_page_number }}">Next</a>
            <a href="?page={{ users.paginator.num_pages }}">Last &raquo;</a> 
        {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        function filterTable(inputElement) {
            const filter = inputElement.value.toLowerCase();
            const table = inputElement.closest('.create-search').nextElementSibling.querySelector('.form-table tbody');
            const rows = table.getElementsByTagName('tr');
        
            for (let i = 0; i < rows.length; i++) {
                let cells = rows[i].getElementsByTagName('td');
                let rowMatches = false;
        
                for (let j = 0; j < cells.length; j++) {
                    let cellText = '';
        
                    const inputElement = cells[j].querySelector('input, select');
                    if (inputElement) {
                        cellText = inputElement.value.toLowerCase();
                    } else {
                        cellText = cells[j].innerText.toLowerCase();
                    }
        
                    if (cellText.includes(filter)) {
                        rowMatches = true;
                        break;
                    }
                }
        
                rows[i].style.display = rowMatches ? '' : 'none';
            }
        }
        
        // Attach event listeners to each search input field
        document.addEventListener("DOMContentLoaded", function() {
            const searchInputs = document.querySelectorAll('.search-container input');
        
            searchInputs.forEach(input => {
                input.addEventListener("keyup", function() {
                    filterTable(this);
                });
            });
        });
    </script>

{% endblock content %}
