{% extends 'base.html' %}

{% block title %} Incident {% endblock title %}

{% block content %}
    <a href="{% url 'incident_forms' %}" class="createnewbtn">File New Incident</a>

    <!-- Incident Reports Table -->
  <table class="form-table">
    <thead>
        <tr>
            <th colspan="10">Open Cases</th>
        </tr>
        <tr>
            <th>Date Time</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Subject</th>
            <th>Location</th>
            <th>Reported By</th>
            <th>Department</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for data in open_incident %}
        <tr>
            <td>{{ data.date_joined }}</td>
            <td>{{ data.first_name }}</td>
            <td>{{ data.last_name }}</td>
            <td>{{ data.subject }}</td>
            <td>{{ data.location }}</td>
            <td>{{ data.reported_by }}</td>
            <td>{{ data.department }}</td>
            <td>{{ data.phone_number }}</td>
            <td>{{ data.status }}</td>
            <td><a href="{% url 'incident_details' data.id %}" style="text-decoration: underline;">Details</a></td>
            </a></td>
        </tr>
        {% empty %} 
        <tr>
            <td colspan="10" style="text-align: center;">No Cases Found</td>
        </tr> 
        {% endfor %}
    </tbody>
</table>


<table class="form-table">
    <thead>
        <tr>
            <th colspan="10">Pending Cases</th>
        </tr>
        <tr>
            <th>Date Time</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Subject</th>
            <th>Location</th>
            <th>Reported By</th>
            <th>Department</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Details</th>
            
        </tr>
    </thead>
    <tbody>
        {% for data in pending_incident %}
        <tr>
            <td>{{ data.date_joined }}</td>
            <td>{{ data.first_name }}</td>
            <td>{{ data.last_name }}</td>
            <td>{{ data.subject }}</td>
            <td>{{ data.location }}</td>
            <td>{{ data.reported_by }}</td>
            <td>{{ data.department }}</td>
            <td>{{ data.phone_number }}</td>
            <td>{{ data.status }}</td>
            <td><a href="" style="text-decoration: underline;">Details</a></td>
        </tr>
        {% empty %} 
        <tr>
            <td colspan="10" style="text-align: center;">No Cases Found</td>
        </tr> 
        {% endfor %}
    </tbody>
</table>

<table class="form-table">
    <thead>
        <tr>
            <th colspan="10">Closed Cases</th>
        </tr>
        <tr>
            <th>Date Time</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Subject</th>
            <th>Location</th>
            <th>Reported By</th>
            <th>Department</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Details</th>
            
        </tr>
    </thead>
    <tbody>
        {% for data in closed_incident %}
        <tr>
            <td>{{ data.date_joined }}</td>
            <td>{{ data.first_name }}</td>
            <td>{{ data.last_name }}</td>
            <td>{{ data.subject }}</td>
            <td>{{ data.location }}</td>
            <td>{{ data.reported_by }}</td>
            <td>{{ data.department }}</td>
            <td>{{ data.phone_number }}</td>
            <td>{{ data.status }}</td>
            <td><a href="" style="text-decoration: underline;">Details</a></td>
        </tr>
        {% empty %} 
        <tr>
            <td colspan="10" style="text-align: center;">No Cases Found</td>
        </tr> 
        {% endfor %}
    </tbody>
</table>


{% endblock content %}
