{% extends 'base.html' %}

{% block title %} Incident Report {% endblock title %}

{% block content %}

{% load static %} 

<link rel="stylesheet" href="{% static 'css/forms.css' %}">

<div class = "forms"> 
    <form method="POST" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-field first-name">
                <label>First Name</label>
                <input type="text" name="first_name" required>
            </div>
            <div class="form-field middle-name">
                <label>Middle Name</label>
                <input type="text" name="middle_name">
            </div>
            <div class="form-field last-name">
                <label>Last Name</label>
                <input type="text" name="last_name" required>
            </div>
            
            <div class="form-field contact-number">
                <label>Contact Number</label>
                <input type="tel" name="contact_number"required>
            </div>

            <div class="form-field id-number">
                <label>ID Number</label>
                <input type="text" name="id_number" required>
            </div>

            <div class="form-field subject">
                <label>Subject</label>
                <input type="text" name="subject" required>
            </div>
            
            <div class="form-field location">
                <label>Location</label>
                <input type="text" name="location" required>
            </div>
            
            <div class="form-field incident-description">
                <label>Incident Description</label>
                <textarea name="incident" required></textarea>
            </div>
            
            <div class="form-field request-action">
                <label>Request for Action</label>
                <textarea name="request_for_action" required></textarea>
            </div>
            
            <div class="form-field reported-by">
                <label>Reported By</label>
                <input type="text" name="reported_by" required>
            </div>

            <div class="form-field position">
                <label>Position</label>
                <input type="text" name="position" required>
            </div>

            <div class="form-field department">
                <label>Department</label>
                <input type="text" name="department" required>
            </div>

            <div class="form-field phone-number">
                <label>Phone Number</label>
                <input type="tel" name="phone_number" required>
            </div>
            
            <div class="form-field upload-file">
                <label>Upload File</label>
                <input type="file" name="file">
            </div>
            
            <div class="form-field status">
                <label>Status</label>
                <select name="status">
                    <option value="open">Open</option>
                    <option value="closed">Closed</option>
                    <option value="pending">Pending</option>
                </select>
            </div>
            <div  class="register-btn">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

<!-- Incident Report Template ## REMOVE <H1> -->
    

{% endblock content %}
